.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  background: linear-gradient(-45deg, #70e1f5, #ffd194);
  background-size: 200% 200%;
  animation: gradientBackground 10s ease-in-out infinite;
}

.toDosContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.title {
  letter-spacing: 10px;
  text-transform: uppercase;
}

.toDoForm {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.textBox {
  border-radius: 20px;
  height: 50px;
  outline: none;
  padding: 20px;
  box-shadow: 0px 2px black;
  width: 100%;
}

.submitBtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 0px 20px;
  color: white;
  transition: color 0.3s ease-in-out;
}

.submitBtn:hover {
  color: green;
}

.toDoContainer {
  margin: 20px 0px;
  border: 5px solid white;
  padding: 20px 40px;
  border-radius: 40px;
  animation: toDoContainerAnimation 0.5s linear forwards;
  cursor: pointer;
  display: flex;
  transition: box-shadow 0.5s ease-in-out;
}

.toDoContainer:hover {
  box-shadow: 0px 0px 15px white;
}
@keyframes toDoContainerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.toDoText {
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.icon {
  color: white;
  margin: 0px 20px;
  cursor: pointer;
}

.checkIcon {
  transition: color 0.3s ease-in-out;
}

.checkIcon:hover {
  color: green;
}
.trashIcon {
  transition: color 0.3s ease-in-out;
}

.trashIcon:hover {
  color: red;
}

.historyIcon {
  transition: color 0.3s ease-in-out;
}

.historyIcon:hover {
  color: orange;
}

.completed {
  text-decoration: line-through;
}
