.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 25px;
}

.container:hover {
  color: white;
}

.title {
  font-size: 50px;
  transition: font-size 0.3s ease-in-out;
}

.title:hover {
  font-size: 70px;
}

.icon {
  font-size: 50px;
  cursor: pointer;
  margin-right: 40px;
}
