.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #70e1f5, #ffd194);
  background-size: 200% 200%;
  animation: gradientBackground 10s ease-in-out infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchBtn {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0px 10px 20px;
  margin-right: 30px;
  cursor: pointer;
}

.utensilsBtn {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0px 10px 20px;
  margin-left: 30px;
  cursor: pointer;
}

.searchInput {
  padding: 15px;
  border-radius: 50px;
  border: 0;
  box-shadow: 0px 10px 20px;
  background: transparent;
}

.searchCategoriesContainer {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.categoryBubble {
  padding: 20px;
  background-color: transparent;
  border-radius: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0px 10px 20px;
  transition: box-shadow 0.2s ease-in-out;
}

.categoryBubble:hover {
  box-shadow: 0px 5px 10px;
}

.restaurantsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
}

.restaurantContainer {
  width: 30%;
  margin-top: 25px;
  height: 300px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 8px 25px;
  transition: transform 0.3s ease-in-out, margin 0.2s ease-in-out;
  animation: fadeIn 0.3s linear forwards;
}

.restaurantContainer:hover {
  transform: scale(1.2);
  margin: 50px 0px;
}

@keyframes fadeIn {
  from {
    transform: scale(0);
    opacity: 0%;
  }
  to {
    transform: scale(1);
    opacity: 100%;
  }
}

.restaurantTextContainer {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  flex-direction: column;
  padding: 25px;
}

.restaurantName {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 20px;
}

.restaurantRatingsContainer {
  display: flex;
  margin-bottom: 20px;
}

.restaurantTransaction {
  padding: 5px;
  border: 5px solid black;
  border-radius: 10px;
  margin-right: 20px;
}

.restaurantAddress {
  font-size: 25px;
  letter-spacing: 4px;
}

.restaurantImage {
  height: auto;
  width: 30%;
  border-radius: 20px;
}
