.noteContainer {
  height: 20%;
  width: 20%;
  border: 10px solid black;
  border-radius: 20px;
  box-shadow: 10px 12px 0px;
  whitespace: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0px 10px;
}

.buttonsContainer {
  margin-top: 30px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewButton,
.editText {
  padding: 15px;
  border-radius: 20px;
  background: transparent;
  box-shadow: 2px 5px 0px;
  border: 5px solid black;
  font-weight: bold;
}
