.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background: linear-gradient(-45deg, #70e1f5, #ffd194);
  background-size: 200% 200%;
  animation: gradientBackground 10s ease-in-out infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.notesContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.userSetupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.passwordField {
  padding: 15px;
  outline: none;
  box-shadow: 2px 5px 0px;
  border-radius: 30px;
  margin-right: 20px;
  text-align: center;
}

.passwordError {
  padding: 15px;
  outline: none;
  border: 2px solid red;
  box-shadow: 2px 5px 0px red;
  border-radius: 30px;
  margin-right: 20px;
  text-align: center;
}

.userSetUpFieldContainer {
  display: flex;
}
.addNoteContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.addNoteContainer > span {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 100px 0px;
}

.addNoteContainer:hover {
  color: white;
  text-shadow: 2px 5px black;
}

.noteBtn {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-evenly;
  height: auto;
  width: 20%;
  border: 10px solid black;
  border-radius: 20px;
  box-shadow: 10px 12px 0px;
  cursor: pointer;
}

.noteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.noteForm > span {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

.noteForm > input,
.noteForm > textarea {
  padding: 15px;
  border-radius: 20px;
  border: 2px solid black;
  outline: none;
  text-align: center;
}

.checkIcon {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.checkIcon:hover {
  color: green;
}

.noteContainer {
  height: auto;
  width: 20%;
  border: 10px solid black;
  border-radius: 20px;
  box-shadow: 10px 12px 0px;
  whitespace: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0px 10px;
  position: relative;
  animation: generateNoteAnimation 0.5s linear forwards;
  opacity: 0%;
}

@keyframes generateNoteAnimation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
