.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 100px;
  margin-bottom: 100px;
  letter-spacing: 10px;
}

.homeBtn {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  background: transparent;
  padding: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}

.homeBtn:hover {
  color: white;
  box-shadow: 0px 0px 10px;
}

.tasksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
