.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 70px;
  margin-bottom: 40px;
  letter-spacing: 10px;
  text-align: center;
}

.homeBtn {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  padding: 20px;
  border-radius: 50%;
  background-color: white;
}

.homeBtn:hover {
  color: white;
  background-color: black;
}

.tasksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}

@media (max-width: 850px) {
  .title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .tasksContainer {
    justify-content: center;
    font-size: 15px;
  }
}
