.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 25px;
  flex-direction: column;
}

.container:hover {
  color: white;
}

.title {
  font-size: 50px;
  animation: fadeIn 0.7s linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
    margin: 0px 20px;
  }
}

.icon {
  cursor: pointer;
  margin-right: 40px;
  animation: fadeIn 0.8s linear forwards;
}

@media (max-width: 750px) {
  .title {
    font-size: 30px;
  }
}
