.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  background: linear-gradient(-45deg, #70e1f5, #ffd194);
  background-size: 200% 200%;
  animation: gradientBackground 10s ease-in-out infinite;
  flex-direction: column;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.startCalendarBtn {
  border-radius: 20px;
  padding: 20px;
  font-weight: bold;
  border: 5px solid black;
  font-size: 40px;
  background: transparent;
  cursor: pointer;
  box-shadow: 0px 4px 8px;
  transition: box-shadow 0.2s ease-in-out;
}

.startCalendarBtn:hover {
  box-shadow: 0px 2px 5px;
}

.currentDayContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 40%;
  text-align: center;
}

.currentDayHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentDayDivider {
  height: 300px;
  width: 5px;
  background-color: black;
}

.currentDayScheduleContainer {
  display: flex;
  flex-direction: column;
}

.currentDayTitle {
  font-size: 80px;
  letter-spacing: 10px;
  margin-bottom: 50px;
  font-weight: bold;
}

.currentDayDate {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
}

.currentScheduleContainer {
  font-size: 40px;
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  margin-bottom: 20px;
}

.currentScheduleBubble {
  border: 5px solid black;
  border-radius: 40px;
  padding: 15px 35px;
  font-weight: bold;
  background-color: white;
  margin: 0px 20px;
  animation: fadeIn 0.3s linear forwards;
}

.calendarDaysContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.dayContainer {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: auto;
  box-shadow: 0px 5px 8px;
  width: 10%;
}

.addToDayBtn {
  border: 3px solid black;
  border-radius: 40px;
  margin: 30px 15px;
  box-shadow: 0px 5px 8px;
  background: transparent;
  padding: 15px;
  font-weight: bold;
  font-size: 30px;
  outline: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.addToDayBtn:hover {
  box-shadow: 0px 2px 4px;
}

.addToDayForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addToDayForm > input {
  padding: 15px;
  margin-bottom: 20px;
  border: 3px solid black;
  outline: none;
  text-align: center;
  border-radius: 30px;
}

.addToDayIconContainer {
  background: transparent;
  border: 0;
  outline: none;
}

.addToDayIcon {
  margin: 30px 0px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.addToDayIcon:hover {
  color: green;
}

.scheduleContainer {
  height: 30%;
  padding: 15px;
  width: 90%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  margin-bottom: 20px;
  position: relative;
  animation: fadeIn 0.3s linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scheduleContainer > span:first-child {
  font-weight: bold;
  margin-bottom: 15px;
}

.removeScheduleIcon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-top: 7px;
  transition: color 0.3s ease-in-out;
}
.removeScheduleIcon:hover {
  color: red;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
  margin: 0px 20px;
  margin-bottom: 10px;
}

@media (max-width: 2500px) {
  .currentDayTitle {
    font-size: 30px;
  }

  .currentDayDate {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .currentDayDivider {
    display: none;
  }

  .currentDayContainer {
    flex-direction: column;
    margin-top: 200px;
  }

  .currentScheduleBubble {
    padding: 10px 25px;
    font-size: 20px;
    margin: 0px 5px;
  }

  .calendarDaysContainer {
    flex-direction: column;
  }

  .dayContainer {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .dayContainer > h2 {
    font-size: 30px;
  }

  .scheduleContainer > span {
    font-size: 20px;
  }

  .scheduleContainer {
    width: 250px;
  }

  .addToDayBtn {
    font-size: 25px;
  }

  .addToDayForm > input {
    width: 160px;
  }
}

@media (min-width: 900px) {
  .dayContainer {
    width: 700px;
  }
}
