.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  background: linear-gradient(-45deg, #70e1f5, #ffd194);
  background-size: 200% 200%;
  animation: gradientBackground 10s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  animation: fadeOut 2s ease-out forwards;
}

.loadingDotContainer {
  display: flex;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
.loadingDot {
  height: 20px;
  width: 20px;
  background-color: black;
  margin-right: 50px;
  border-radius: 50%;
  animation: fadeIn 2.5s ease-in-out infinite;
}

.loadingDot:nth-child(2) {
  animation-delay: 0.5s;
}

.loadingDot:last-child {
  animation-delay: 0.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.container > h1 {
  letter-spacing: 10px;
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 700px) {
  .container > h1 {
    font-size: 20px;
  }
  .loadingDot {
    height: 10px;
    width: 10px;
  }
}
