.navContainer {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  text-transform: uppercase;
  padding: 0px 30px;
  padding-top: 60px;
}

.signOutContainer {
  transition: border-bottom 0.3s ease-in-out;
}

.signOutContainer:hover {
  border-bottom: 10px solid black;
}

.signOutBtn {
  border: none;
  outline: none;
  background: transparent;
  font-size: 50px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 20px;
}

.weatherContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.clockContainer {
  display: flex;
  width: 10%;
  justify-content: space-evenly;
  align-items: center;
}
